@charset "UTF-8";

:root {
    --cor-branca: #fff;
    --cor-preta: #000;
    --cor-cinza: #686868;
    --cor-roxo: #9a00ff;
}

body {
    background-color: var(--cor-preta);
}

.logodev{
    margin: -10px 20px 5px 10px;

}